$orange: #E63A12;
$black: #050505;
$white: #FCFCFC;
$superBlack: #0C0C0C;
$hoverButtonOrange: #FF4013;
$fixedButtonOrange: #C92600;
$disabledButton: #EB8972;

// TEXT COLORS
$textBlack: #000;
$textWhite: #fff;

$mainBorderRadius: 2px;

//breakpoins
$tabletBreakpoint: 768px;
$mobileBreakpoint: 375px;
